<div class="container">
  <div class="row">
    <h2>バンドログイン</h2>
    <div class="col-xs-7">
      <table class="table">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr>
            <div class="field">
              <th><%= f.label :メールアドレス %><br /></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </div>
          </tr>
          <tr>
            <div class="field">
              <th><%= f.label :パスワード %><br /></th>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </div>
          </tr>
          <tr>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <th><%= f.check_box :remember_me %>
                <%= f.label :remember_me %></th>
              </div>
            <% end %>
            <div class="actions">
              <td><%= f.submit "ログイン", class:"btn btn-primary"  %></td>
            </div>
          </tr>
          <tr>
            <th><%= render "bands/shared/links" %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
