<div class="container">
  <div class="row">
    <% if band_signed_in? %>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %><%= current_band.name %>さん</p>
      <% end %>
    <% end %>
    <% if user_signed_in? || band_signed_in? %>
      <div class="index-left col-xs-3">
        <% if @band != nil %>
          <table class="table table-striped">
            <thead>
              <tr>
                <%= attachment_image_tag @band, :image, size: "265x200", format: "jpeg", class: "attachment user profile_image", fallback: "no_image.jpg" %>
              </tr>
              <tr>
                <td>
                  <h3><%= current_band.name %></h3>
                </td>
              </tr>
              <tr>
                <td><%= current_band.area %></td>
              </tr>
              <tr>
                <td><%= current_band.introduction %></td>
              </tr>
            </thead>
          </table>
          <%= link_to band_path(current_band.id) do %>
            <span class="fa fa-search glyphicon glyphicon-wrench btn btn-default col-xs-12"></span>
          <% end %>
        <% else %>
          <% if user_signed_in? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <%= attachment_image_tag current_user, :image, size: "265x200", format: "jpeg", class: "attachment user profile_image", fallback: "no_image.jpg" %>
                </tr>
                <tr>
                  <td>
                    <h3><%= current_user.name %></h3>
                  </td>
                </tr>
              </thead>
            </table>
            <%= link_to user_path(current_user.id) do %>
              <span class="fa fa-search glyphicon glyphicon-wrench btn btn-default col-xs-12"></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  	<div class="col-xs-9">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">エールランキング</a>
        </li>
        <li role="presentation">
          <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">登録順</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_a" role="tabpanel">
          <table class="table table-striped">
            <% @all_ranks.each do |band| %>
              <tr class="band_<%= band.id %>">
                <td>
                  <div class="img">
                    <%= attachment_image_tag band, :image, size: "60x60", format: "jpeg", class: "attachment user profile_image", fallback: "no_image.jpg" %>
                  </div>
                </td>
                <td>
                  <h4><%= link_to band.name, band_path(band.id), class: "band_#{band.id}" %></h4>
                </td>
                <td>
                  <h5><%= band.area %></h5>
                </td>
                <td>
                  <%= link_to band.link do %>
                    <%= icon("fas", "home fa-3x") %>
                  <% end %>
                </td>
                <td>
                  <%= link_to band.sns do %>
                    <%= icon("fab", "twitter fa-3x") %>
                  <% end %>
                </td>
                <td>
                  <h5><%= band.tips %></h5>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="tab-pane" id="tab_b" role="tabpanel">
          <table class="table table-striped">
            <% @bands.each do |band| %>
              <tr class="band_<%= band.id %>">
                <td>
                  <div class="img">
                    <%= attachment_image_tag band, :image, size: "60x60", format: "jpeg", class: "attachment user profile_image", fallback: "no_image.jpg" %>
                  </div>
                </td>
                <td>
                  <h4><%= link_to band.name, band_path(band.id), class: "band_#{band.id}" %></h4>
                </td>
                <td>
                  <h5><%= band.area %></h5>
                </td>
                <td>
                  <%= link_to band.link do %>
                    <%= icon("fas", "home fa-3x") %>
                  <% end %>
                </td>
                <td>
                  <%= link_to band.sns do %>
                    <%= icon("fab", "twitter fa-3x") %>
                  <% end %>
                </td>
                <td>
                  <h5><%= band.tips %></h5>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>