<%= flash[:success] %>
<div class="container">
  <div class="row">
  	<div class="col-xs-2">
      <table class="show-left">
        <tr><br><br><br><br>
          <td>
            <h4>代表者：<%= @receiver_band.rep_name %></h4>
          </td>
        </tr>
        <tr>
      		<td>
            <h4>活動地：<%= @receiver_band.area %></h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4>ジャンル：<%= @receiver_band.genre %></h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4>お知らせ：<%= @receiver_band.tips %></h4>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon">
              <%= link_to @receiver_band.link do %>
                <%= icon("fas", "home fa-3x") %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon">
              <%= link_to @receiver_band.sns do %>
                <%= icon("fab", "twitter fa-3x") %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
  	</div>
  	<div class="col-xs-4">
      <table>
        <tr>
          <th>
            <h2 class="band-headline"><%= @receiver_band.name %>
              <% if user_signed_in? %>
                <% if @receiver_band.favorited_by?(current_user) %>
                  <%= link_to band_subscribe_path(@receiver_band), method: :delete do %>
                    <%= icon("fas", "star") %>
                  <% end %>
                <% else %>
                  <%= link_to band_subscribes_path(@receiver_band), method: :post do %>
                    <%= icon("far", "star") %>
                  <% end %>
                <% end %>
              <% end %>
            </h2>
            <div class="band-headline">
              <h5>エール数：<%= @yells.count %></h5>
              <% if user_signed_in? %>
                <% if current_user.already_yelled_within_a_day?(@receiver_band) %>
                  <h5>エール済み(1日1回まで。24時間後にお試しください)</h5>
                <% elsif %>
                  <%= link_to band_yells_path(@receiver_band), method: :post do %>
                    <h5>エールを送る<%= icon("far", "heart") %></h5>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </th>
        </tr>
  	    <tr>
          <th>
            <%= attachment_image_tag @receiver_band, :image, :fill,350,250, format: "jpeg", class: "attachment user profile_image", fallback: "no_image.jpg" %>
          </th>
        </tr>
  	    <tr>
          <th>
            <p><%= @receiver_band.introduction %></p>
          </th>
        </tr>
	    </table>
	  </div>
  	<div class="video col-xs-4">
      <iframe width="560" height="315" src="<%= @receiver_band.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="audio">
    <% if band_signed_in? %>
      <% if @receiver_band.id == current_band.id %>
        <%= form_with(model:[@receiver_band,@audio], data: {remote: true, "turbolinks" => false}) do |f| %>
          <div class="form">
            <%= f.label :title,"mp3ファイルを選択して曲を追加しよう！", class: "form-group" %>
            <div class="form-inline">
              <%= f.file_field :file, class: "form-group" %>
              <%= f.submit '投稿' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h3>曲一覧</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @audios.each do |audio| %>
          <tr>
            <td>
              <%= audio[:file] %>
            </td>
            <td>
              <%= audio_tag(audio.file.url,id:"audio") %>
            </td>
            <td>
              <% if band_signed_in? %>
                <% if @receiver_band.id == current_band.id %>
                  <%= link_to "削除", band_audio_path(@receiver_band.id, audio.id), method: :delete , "data-confirm" => "この曲を削除しますか？", class: "btn-sm btn-danger", remote: false %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>コメント</h3>
      <div id="band-comments">
        <%= render 'bands/comments', comments: @comments, user_comments: @user_comments, band_comments: @band_comments, receiver_band_id: @receiver_band.id %>
      </div>
    <div class="comment col-md-5 col-md-offset-3">
      <%= form_for(@comment,url:band_comments_path(@receiver_band.id), data: {remote: true, "turbolinks" => false}) do |f| %>
        <%= f.text_area :body, class: "form-control offset-1 col-5" %>
        <%= f.submit '投稿', class: "form-control offset-1 col-5" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>