<!DOCTYPE html>
<html>
  <head>
    <title>あつまれ！インディーズバンド</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1><%= link_to "あつまれ！インディーズバンド", root_path %></h1>
    <% if band_signed_in? %>
      <ul>
        <li><%= link_to "バンドプロフィール編集", edit_band_path(current_band) %></li>
        <li><%= link_to "利用規約", about_path %></li>
        <li><%= link_to "ログアウト", destroy_band_session_path, method: :delete %></li>
      </ul>
    <% elsif user_signed_in? %>
      <ul>
        <li><%= link_to "ユーザープロフィール編集", edit_user_path(current_user) %></li>
        <li><%= link_to "利用規約", about_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "バンドログイン", new_band_session_path %></li>
        <li><%= link_to "ユーザーログイン", new_user_session_path %></li>
        <li><%= link_to "利用規約", about_path %></li>
      </ul>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
