<!DOCTYPE html>
<html>
  <head>
    <title>あつまれ！インディーズバンド</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1><%= link_to "あつまれ！インディーズバンド", root_path %></h1>
        </div>
        <div class="collapse navbar-collapse" id="navbarEexample1">
          <ul class="nav navbar-nav navbar-right">
            <% if band_signed_in? %>
              <li><%= link_to "バンド一覧", bands_path %></li>
              <li><%= link_to "プロフィール編集", edit_band_path(current_band) %></li>
              <li><%= link_to "利用規約", about_path %></li>
              <li><%= link_to "ログアウト", destroy_band_session_path, method: :delete %></li>
            <% elsif user_signed_in? %>
              <li><%= link_to "バンドを探す", bands_path %></li>
              <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
              <li><%= link_to "利用規約", about_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "バンドログイン", new_band_session_path %></li>
              <li><%= link_to "ユーザーログイン", new_user_session_path %></li>
              <li><%= link_to "利用規約", about_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
